.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #000000;
  color: white;
}

.main-body {
  display: flex;
  flex: 1;
  margin-top: 50px; 
  margin-bottom: 90px; 
  overflow: hidden;
  width: 100%;
  gap: 8px;
  padding-right: 8px;
  position: relative; 
}

.main-page-wrapper {
  flex: 1;
  min-width: 0; 
  background: #121212;
  border-radius: 8px;
  overflow-y: auto;
  position: relative;
  background: linear-gradient(to bottom, #202020 0%, #121212 40%);
}


.main-page-wrapper::-webkit-scrollbar { 
  width: 8px; 
}

.main-page-wrapper::-webkit-scrollbar-thumb { 
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 4px; 
}