.libraryContainer {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  margin-left: 8px; 
  margin-right: 0; 
  overflow: hidden;
  position: relative; 
  width: 280px; 
  min-width: 72px; 
  height: 100%;
}

.collapsed {
  width: 72px !important; 
}

.resizing {
  user-select: none;
  cursor: col-resize;
}

.resizer {
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: col-resize;
  z-index: 10;
  background: transparent;
  transition: background 0.2s;
}

.resizer:hover, .resizing .resizer {
  background: rgba(255, 255, 255, 0.3); 
}


.libraryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  color: #b3b3b3;
  font-weight: 700;
  cursor: pointer;
}

.headerTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: color 0.2s;
}
.headerTitle:hover { 
  color: white; 
}


.collapsed .headerTitle { 
  justify-content: center; 
  width: 100%; 
}

.filterTags { 
  display: flex; 
  gap: 8px; 
  padding: 0 16px 16px; 
  overflow-x: auto; 
}
.tag { 
  background: #232323; 
  padding: 6px 12px; 
  border-radius: 15px; 
  font-size: 0.85rem; 
  color: white; 
  white-space: nowrap; 
  cursor: pointer; 
}

.scrollContent { 
  flex: 1; 
  overflow-y: auto; 
  padding: 0 8px; 
}

.scrollContent::-webkit-scrollbar { 
  width: 6px; 
}

.scrollContent::-webkit-scrollbar-thumb { 
  background: transparent; 
}

.libraryContainer:hover 
.scrollContent::-webkit-scrollbar-thumb { 
  background: #555; 
}

.libraryItem { 
  display: flex; 
  align-items: center; 
  padding: 8px; 
  border-radius: 6px; 
  cursor: pointer; 
  transition: background 0.2s;
 }


.libraryItem:hover { 
  background-color: #1f1f1f; 
}

.collapsed .libraryItem { 
  justify-content: center; 
  padding: 8px 0; 
}

.itemImg { 
  width: 48px; 
  height: 48px; 
  border-radius: 4px; 
  object-fit: cover; 
  flex-shrink: 0; 
}

.itemInfo { 
  margin-left: 12px; 
  overflow: hidden; 
}

.itemTitle { 
  color: white; 
  font-size: 0.95rem; 
  font-weight: 500; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.itemSub { 
  color: #a7a7a7; 
  font-size: 0.8rem; 
  margin-top: 4px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}